div{
    width: 200px;
    height: 200px;
}
p{
    margin: 0;
}
.top{
    background-color: slateblue;
    padding: 20px;
    border: 10px solid black;
}
.mid{
    background-color: cyan;
    border: 20px solid black;
    border-width: 20px 10px;
    margin-left: 260px;
}
.bottom{
    background-color: gray;
    border: 10px solid black;
    margin-left: 40px;
}